.App {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    height: 75%;
    display: flex;
    align-items: center;
}

#output {
    overflow-x: hidden;
    border: 1px solid #CCC;
    height: 60vh;
}

#content {
    margin: 10px;
}
#shifting-controls {
    height: 25%;
}